@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Daftar StarWars</h1>
@*<ul id="listSW">
    li
</ul>*@
<table class="table table-hover">
    <thead class="alert-dark">
        <tr>
            <td>Name</td>
            <td>Skin Color</td>
            <td>Hair Color</td>
            <td>Birth Year</td>
            <td>Gender</td>
        </tr>
    </thead>
    <tbody class="tableSW">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
