@{  ViewData["Title"] = "Home Page";
    Layout = "_LayoutGridSystem"; 
}
<header>
    <nav class="navbar border-bottom fixed-top py-2 bg-light">
        <div class="container-fluid">
            Navigation Bar
        </div>
    </nav>
</header>
<div class="container p-5">
    <h1>Grid System</h1>
    <div class="row">
        <div class="col-md-5 border">
            <p>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
            </p>
        </div>
        <div class="col-md-7">
            <div class="row col-md-auto border">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </div>
            <div class="row col-md-auto border">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
                iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; aliquam dui neque, varius eu laoreet vel.
            </div>
        </div>
    </div>
</div>
<footer class="footer border-top position-fixed bg-light py-0 text-center">
    <div class="container-fluid"    >
        &copy; 2022 - Amelia
    </div>
</footer>